
@font-face {
    font-family:'Robotaur';
    src: url('../fonts/robotaur/robotaurexpand.ttf') format('truetype');

    font-style: normal;
}

/* robotaurcond.ttf */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

header{
    position: fixed;
    width: 100%;
    height: clamp(50px, 10%, 5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(0.5em, 0.1em + 1vw, 3em);

}

header:hover{
    transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.5);;
}





.navigation{
    font-size: 16px;
    display: flex;
    gap: 32px;
    
}

a{
  font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: white;
    font-size: clamp(0.85em, 0.75em + 1vw, 1em);
}


.navigation  a:hover{ 
    cursor: pointer;
    transition: all 1000ms ease;
    text-decoration: overline;
    color: yellow;

}


div{
    
    color: white;
}

.wallpaper .card h1{
    font-size:clamp(2rem, 5vw, 10rem);
    
    font-weight: 400;
    font-family: 'Robotaur';
    text-shadow: 0.1em 0.1em 0.0em rgba(0, 0, 0, 0.3)
    
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
 }

/* .button-start{
    background-color: yellow;
    width: 200px;
    height: 75px;
    clip-path: polygon(
        0 30%,
        15% 0,
        100% 0,
        100% 100%,
        70% 100%,
        0 100%
      );
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
    cursor: pointer;
} */

.button-start{
    width: 15vw;
    max-width: 200px;
    min-width: 100px;

    height: clamp(2.5rem, 4vw, 10rem);
    font-size: clamp(0.6em, 1vw, 2em);
    cursor: pointer;
  }
  
  .button-start a,a::after{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    font-weight:900;
    background:linear-gradient(135deg,yellow 95%, transparent 5%);
    border:0;
    color:#000000;
    
    letter-spacing:1.8px;
    line-height:1.25em;
    position:relative;
    text-transform: uppercase;
  }
   
  .button-start a::after{
    width:100%;
    height:100%;
    --slice-0:inset(50% 50% 50% 50%);
    --slice-1:inset(80% -6px 0 0);
    --slice-2:inset(50% -6px 30% 0);
    --slice-3:inset(10% -6px 85% 0);
    --slice-4:inset(40% -6px 43% 0);
    --slice-5:inset(80% -6px 5% 0);
    content:'DEVENIR CORSAIRE';
    display:flex;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(135deg,yellow 95%, #000 5%);
    text-shadow: -3px -3px 0 #000 , 3px 3px 0 #ff0;
    clip-path:var(--slice-0);
  }
  
  .button-start a:hover::after{
    animation: glitch 1s;
    animation-timing-function:steps(2,end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }













.wallpaper{
   
    background-image: url('/images/wallpaper.png');
    background-size: cover;
    background-position: center;
    /* transition: all 1000ms ease; */
}

.aside{
 
    box-sizing: border-box;
    padding: 20px;
    width: 70px;
    background-color: #FF003D;
    -webkit-clip-path: polygon(20% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 20% 100%, 0% 90%, 0% 10%);
    clip-path: polygon(20% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 20% 100%, 0% 90%, 0% 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    bottom: 75px;
    right: 0;
    transition: all 350ms ease;
    

}

.aside a{
    text-decoration: none;
    color: white;
}

.aside:hover .social{
    width: 100%;
    display: flex;
    gap: 16px;
    cursor: pointer;
    align-items: flex-start;
    justify-content: flex-start;

}

.aside:hover{
    width: 300px;
    -webkit-clip-path: polygon(30% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 12.5% 100%, 0% 90%, 0% 15%);
}



.aside img{
    height: 30px;

    cursor: pointer;
}

.aside p{
    display: none;
}

.background{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

