
@font-face {
    font-family:'Cyber';
    src: url('../font/cyberverse/Cyberverse.otf') format('opentype');

    font-style: normal;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

header{
    position: fixed;
    width: 100%;
    height: 75px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

header:hover{
    transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.5);;
}




.title{
   font-weight: 500;
    font-size: 24px;
}

.navigation{
    font-size: 16px;
    display: flex;
    gap: 32px;
   
}


.navigation  a:hover{ 
    cursor: pointer;
    transition: all 1000ms ease;
    text-decoration: overline;
    color: yellow;

}


div{
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.wallpaper .card h1{
    font-size: 150px;
    font-weight: 400;
    font-family: 'Cyber';
    
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
 }

.button-start{
    background-color: yellow;
    width: 200px;
    height: 75px;
    clip-path: polygon(
        0 30%,
        15% 0,
        100% 0,
        100% 100%,
        70% 100%,
        0 100%
      );
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
    cursor: pointer;
}


.wallpaper{

    background-image: url('/images/wallpaper.png');
    background-size: cover;
    background-position: center;
    /* transition: all 1000ms ease; */
}

.aside{
    width: 100px;
    box-sizing: border-box;
    padding: 20px;
    height: 250px;
    background-color: #FF003D;
    -webkit-clip-path: polygon(20% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 20% 100%, 0% 90%, 0% 10%);
    clip-path: polygon(20% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 20% 100%, 0% 90%, 0% 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    bottom: 75px;
    right: 0;
    transition: all 350ms ease;
    

}

.aside a{
    text-decoration: none;
    color: white;
}

.aside:hover .social{
    width: 100%;
    display: flex;
    gap: 16px;
    cursor: pointer;
    align-items: flex-start;
    justify-content: flex-start;

}

.aside:hover{
    width: 300px;
    -webkit-clip-path: polygon(30% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 70% 100%, 12.5% 100%, 0% 90%, 0% 15%);
}



.aside img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.aside p{
    display: none;
}

.background{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

